@page "/answers/{questionId:long}"
@using BlazorApp.Shared;
@inject HttpClient Http;

<PageTitle>Question: @QuestionId</PageTitle>
<BackArrow/>

@foreach(var answerModel in AnswerModels)
{
    <div  class="answer-list-item @answerModel.Class">
        <div>@((MarkupString)answerModel.Body)</div>
        <button disabled="@answerModel.ButtonDisabled" @onclick="() => IsCorrect(answerModel)">Accept</button>
    </div>    
}


@code {
    [Parameter]
    public long QuestionId { get; set; }

    private IEnumerable<AnswerModel> AnswerModels = new List<AnswerModel>();

    protected override async Task OnInitializedAsync()
    {
        AnswerModels = await Http.GetFromJsonAsync<IEnumerable<AnswerModel>>($"/api/question/{QuestionId}/answers") ?? new List<AnswerModel>();
    }

    private void IsCorrect(AnswerModel answer)
    {
        if (answer.IsAccepted)
        {
            foreach (var answerModel in AnswerModels)
            {
                answerModel.Class = "incorrect";
                answerModel.ButtonDisabled = true;
            }

            answer.Class = "accepted";
        }
        else
        {
            answer.Class = "incorrect-selection";
            answer.ButtonDisabled = true;
        }
    }
}
