@using BlazorApp.Shared;
@inject HttpClient Http;

@foreach (var answerModel in AnswerModels)
{
    <div class="answer-list-item @answerModel.Class">
        <div>@((MarkupString)answerModel.Body)</div>
        <button disabled="@answerModel.ButtonDisabled" @onclick="() => IsCorrect(answerModel)">Accepted Answer</button>
    </div>
}


@code {
    [Parameter]
    public long QuestionId { get; set; }

    private IEnumerable<AnswerModel> AnswerModels = new List<AnswerModel>();

    protected override async Task OnInitializedAsync()
    {
        if (!AnswerModels.Any())
        {
            AnswerModels = await Http.GetFromJsonAsync<IEnumerable<AnswerModel>>($"/api/question/{QuestionId}/answers") ?? new List<AnswerModel>();
            var random = new Random();
            AnswerModels = AnswerModels.OrderBy(am => random.Next());
        }
    }

    private void IsCorrect(AnswerModel answer)
    {
        foreach (var answerModel in AnswerModels)
        {
            answerModel.Class = "incorrect";
            answerModel.ButtonDisabled = true;
        }

        answer.Class = "accepted";
    }
}
