@using BlazorApp.Shared;
@inject HttpClient Http;

<h3>QuestionsSelector</h3>

@foreach (var question in Questions)
{
    <div class="question-list-item">
        <a href="/answers/@question.Id">
            <div>@((MarkupString)question.Title)</div>
            <div class="answer">Answer Count: @question.AnswerCount</div>
        </a>
    </div>
}

@code {
    private IEnumerable<QuestionModel> Questions = new List<QuestionModel>();

    protected override async Task OnInitializedAsync()
    {
        Questions = await Http.GetFromJsonAsync<IEnumerable<QuestionModel>>("/api/Questions") ?? new List<QuestionModel>();
    }
}
