@using BlazorApp.Shared;
@inject HttpClient Http;

<h3>QuestionsSelector</h3>

@foreach(var question in Questions)
{
    <div>
        <div>Question: @question.Title</div>
        <div>Answer Count: @question.AnswerCount</div>
    </div>    
}

@code {
    private IEnumerable<Question> Questions = new List<Question>();

    protected override async Task OnInitializedAsync()
    {
        Questions = await Http.GetFromJsonAsync<IEnumerable<Question>>("/api/Questions") ?? new List<Question>();
    }
}
